# Ignore everything in this directory
*
# Except this file
!.gitignore
!model_orders_filtered_50-1.44.h5
!model_packages_complete_60-1.29.h5
!model_orders_complete_18-2.38.h5
!model_items_complete_22-1.72.h5
!model_items_filtered_31-1.40.h5